/*Background*/
body{
    height: 100%;
    background: linear-gradient(240deg, rgb(237, 243, 249), white);
}
/*Navigation Bar*/
#wrap1{
    color: rgb(50, 50, 51);
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
 }
#a1, #a2, #a3{
    text-decoration: none;
    color: rgb(124, 124, 127);
}
.navigation{
    text-align: center;
}
#selected1{
    background-color:white;
    border-style:solid;
    border-top-left-radius: 20px;
    border-color: white;
    border-top-right-radius: 20px;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color:rgb(11, 22, 40);
    text-align: center;
    font-size: 1.5rem;
}
/*About Me*/
#p1{
    line-height: 1.6em;
    font-family: 'Raleway', sans-serif;
}
#image{
    border-style: solid;
    border-width: 5px;
    border-color: aliceblue;
}
figcaption{
    text-align: center;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
#bottom{
    background-color:rgba(255, 255, 255, 1);
}
#wrap3{
    text-align:center;
}
#footer{
    text-align: center;
}
#wrap4{
    text-align:center;
}
