/*Background*/
body{
    height: 100%;
    background: linear-gradient(240deg, rgb(237, 243, 249), white);
}
/*Navigation Bar*/
#wrap1{
    position:absolute;
    top: 5%;
    color: rgb(50, 50, 51);
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    display: block;
    width: 30%;
    margin-left: 70%;
}
#a1, #a2, #a3{
    text-decoration: none;
    color: rgb(124, 124, 127);
    margin-left: 10%;
}
.navigation{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    text-align: center;
}
#navBar{
    width: 100%;
}
#selected1{
    display: inline-block;
    background-color:white;
    border-style:solid;
    border-top-left-radius: 20px;
    border-color: white;
    border-top-right-radius: 20px;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color:rgb(11, 22, 40);
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 1.5rem;
    margin: 0px;
}
/*About Me*/
#p1{
    box-sizing: border-box;
    width: 55%;
    line-height: 1.6em;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-right: 70px;
}
#image{
    display:inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    border-color: aliceblue;
}
figcaption{
    display:block;
    text-align: center;
    float: right;
    width: 470px;
    margin-top:10px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
#bottom{
    padding: 40px;
    padding-bottom: 50px;
    background-color:rgba(255, 255, 255, 1);
}
#footer{
    text-align: center;
    margin-left:50%;
}
